body{
    background-image: linear-gradient(to right,rgb(3, 92, 32), rgba(54, 0, 141, 0.781));
}
#about{
    display: flex;
    justify-content: center;
    color: rgb(230, 255, 4);
}
#exp{
    color: whitesmoke;
}
.navbar-brand{
    color: white;
}